<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Конвертер</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" href="../try.css" rel="stylesheet">
</head>

<body>
<div class="wrapper">
    <div class="head">
        <div class="name">
            Конвертер
        </div>
        <div class="login">
            <button type="button" onclick="location.href='http://localhost:8080/sign-in';">
                Вход
            </button>
            <button type="button" onclick="location.href='http://localhost:8080/sign-up';">
                Регистрация
            </button>
        </div>
    </div>

    <form>
        <div>
            <div class="horizontal-flex">
                <div>
                    <select id="from" name="from">
                        <option th:each="exchangeRate : ${exchangeRates}"
                                th:text="${exchangeRate.getCurrencyCode()}+'('+${exchangeRate.getCurrencyName()}+')'"
                                th:value="${exchangeRate.getCurrencyCode()}"
                                th:selected="${exchangeRate.getCurrencyCode().equals(sourceCurrency)}"></option>
                    </select>
                </div>
                <div>
                    <select id="to" name="to">
                        <option th:each="exchangeRate : ${exchangeRates}"
                                th:text="${exchangeRate.getCurrencyCode()}+'('+${exchangeRate.getCurrencyName()}+')'"
                                th:value="${exchangeRate.getCurrencyCode()}"
                                th:selected="${exchangeRate.getCurrencyCode().equals(targetCurrency)}"></option>
                    </select>
                </div>
            </div>
            <div class="horizontal-flex">
                <div>
                    <input id="amount" name="amount" th:value="${sourceAmount}"/>
                </div>
                <div>
                    <input th:value="${result}"/>
                </div>
            </div>
        </div>
        <div>
            <button type="submit">
                Конвертировать
            </button>
        </div>
    </form>
</div>
</body>

</html>
