<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Конвертер валют</title>
    <link type="text/css" href="../try.css" rel="stylesheet">
</head>
<body>
<div class='wrapper'>
    <div>
        Конвертер валют
    </div>
    <form method="post">
        <div>
            <input id='login' name='login' placeholder='Логин'>
        </div>
        <div>
            <input id='password' name='password' placeholder='Пароль'>
        </div>
        <div>
            <button type="submit">
                Войти
            </button>
        </div>
    </form>
</div>
</body>
</html>